; <?php die('Access denied'); ?>
[general]
title = "ghostship.io"
branch = "master"
theme = "modern"
color = "#31ac63"
tabcolor = "true"
rssUrl = "https://www.wired.com/feed/"
userNameInput = "admin"
password = "muximux"

[settings]
branch_changed = ""
sha = "418923c87e1fd50d589d68126a4dda37870632db"
enabled = "true"
default = "false"
name = "Settings"
url = "muximux.php"
landingpage = "false"
icon = "fa-cog"
dd = "true"
branch = "HEAD"
branches[develop] = "92b392c88b24faa6dd63c9ada2ee7db6b667e123"
branches[experimental] = "262b1a4c4ca6fa0386e46400211604d66c0bd22d"
branches[master] = "418923c87e1fd50d589d68126a4dda37870632db"
branches[parseError] = "14ea3581389e329e27c496367b2b85b15fc106f9"
branches[saveProblem] = "4d16f3f4b1d7fb18bac5d8ed09b9a45dbe6711ff"
last_check = 1766551412

[Homepage]
name = ""
url = "https://homepage.ghostship.io"
scale = 1
icon = "muximux-home2"
color = "#109f61"
enabled = "true"
default = "true"

[Arcane]
name = "Arcane"
url = "https://arcane.ghostship.io"
scale = 1
icon = "muximux-archlinux"
color = "#8e51ff"
enabled = "true"

[Plex]
name = "Plex"
url = "https://plex.ghostship.io"
scale = 1
icon = "muximux-plex"
color = "#ebaf00"
enabled = "true"

[NZBGet]
name = "SABnzbd"
url = "https://sabnzbd.ghostship.io"
scale = 1
icon = "muximux-sabnzb"
color = "#ffca28"
enabled = "true"

[VueTorrent]
name = "VueTorrent"
url = "https://qbittorrent.ghostship.io"
scale = 1
icon = "muximux-qwiklabs"
color = "#63cda9"
enabled = "true"

[Sonarr]
name = "Sonarr"
url = "https://sonarr.ghostship.io"
scale = 1
icon = "muximux-sonarr"
color = "#35c5f4"
enabled = "true"

[Radarr]
name = "Radarr"
url = "https://radarr.ghostship.io"
scale = 1
icon = "muximux-radarr"
color = "#ffc230"
enabled = "true"

[ChangeDetection]
name = "ChangeDetection"
url = "https://changedetection.ghostship.io"
scale = 1
icon = "muximux-published_with_changes"
color = "#006ed4"
enabled = "true"

[Manyfold]
name = "Manyfold"
url = "https://manyfold.ghostship.io"
scale = 1
icon = "muximux-medium"
color = "#0d6efd"
enabled = "true"

[MeTube]
name = "MeTube"
url = "https://metube.ghostship.io"
scale = 1
icon = "muximux-cloud-download2"
color = "#ff4c41"
enabled = "true"

[Synology]
name = "Synology"
url = "https://synology.ghostship.io"
scale = 1
icon = "muximux-database"
color = "#3799ef"
enabled = "true"
dd = "true"

[HomeAssistant]
name = "HomeAssistant"
url = "https://homeassistant.ghostship.io"
scale = 1
icon = "muximux-homeassistant"
color = "#18bcf2"
enabled = "true"
dd = "true"

[RomM]
name = "RomM"
url = "https://romm.ghostship.io"
scale = 1
icon = "muximux-gamepad"
color = "#553f99"
enabled = "true"
dd = "true"

[Tautulli]
name = "Tautulli"
url = "https://tautulli.ghostship.io"
scale = 1
icon = "muximux-plexivity"
color = "#e5a00d"
enabled = "true"
dd = "true"

[Prowlarr]
name = "Prowlarr"
url = "https://prowlarr.ghostship.io"
scale = 1
icon = "muximux-paw"
color = "#e45124"
enabled = "true"
dd = "true"

[Huntarr]
name = "Huntarr"
url = "https://huntarr.ghostship.io"
scale = 1
icon = "muximux-hexo"
color = "#4a7be5"
enabled = "true"
dd = "true"

[Bazarr]
name = "Bazarr"
url = "https://bazarr.ghostship.io/"
scale = 1
icon = "muximux-bazarr"
color = "#9c36b5"
enabled = "true"
dd = "true"

[Booklore]
name = "Booklore"
url = "https://booklore.ghostship.io"
scale = 1
icon = "muximux-book2"
color = "#49da7e"
enabled = "true"
dd = "true"

[Warracker]
name = "Warracker"
url = "https://warracker.ghostship.io"
scale = 1
icon = "muximux-receipt"
color = "#339af0"
enabled = "true"
dd = "true"

[Fileflows]
name = "Fileflows"
url = "https://fileflows.ghostship.io"
scale = 1
icon = "muximux-alt_route"
color = "#ff0090"
enabled = "true"
dd = "true"

[ActivePieces]
name = "ActivePieces"
url = "https://activepieces.ghostship.io"
scale = 1
icon = "muximux-accusoft"
color = "#7c54e4"
enabled = "true"
dd = "true"

[703407newApplication]
name = "ZeroByte"
url = "https://zerobyte.ghostship.io"
scale = 1
icon = ""
color = ""
enabled = "true"
dd = "true"

[571052newApplication]
name = "ConvertX"
url = "https://convertx.ghostship.io"
scale = 1
icon = "muximux-expertsexchange"
color = "#557f14"
enabled = "true"
dd = "true"

[BentoPDF]
name = "BentoPDF"
url = "https://bentopdf.ghostship.io"
scale = 1
icon = "muximux-file-pdf"
color = "#7c86ff"
enabled = "true"
dd = "true"

[IT Tools]
name = "IT Tools"
url = "https://it-tools.ghostship.io"
scale = 1
icon = "muximux-info2"
color = "#2c9a66"
enabled = "true"
dd = "true"

[SSH]
name = "SSH"
url = "https://ssh.ghostship.io"
scale = 1
icon = "muximux-terminal3"
color = "#0045a6"
enabled = "true"
dd = "true"
