# services

- Downloads:
    - NZBGet:
        icon: nzbget.png
        href: "#"
        description: NZB Downloader
        server: chill-penguin
        container: nzbget
        widget:
            type: nzbget
            url: http://gluetun:6789
    - qBittorrent:
        icon: qbittorrent.png
        href: "#"
        description: Torrent Downloader
        server: chill-penguin
        container: qbittorrent
        widget:
            type: qbittorrent
            url: http://gluetun:5000

- Media:
    - Plex:
        icon: plex.png
        href: "#"
        description: Media Server
        server: chill-penguin
        container: plex
        widget:
            type: plex
            url: http://plex:32400
            key: "{{ plex_token }}"
            fields: ["streams", "movies", "tv"]

- System:
    - Dockge:
        icon: dockge.png
        href: http://{{ ansible_host }}:5001
        description: Docker Compose Manager
        server: chill-penguin
        container: dockge
        widget:
            type: dockge
            url: http://dockge:5001
