# services

- Downloads:
    - NZBGet:
        icon: nzbget.png
        href: "#"
        description: NZB Downloader
        server: chill-penguin
        container: nzbget
        widget:
            type: nzbget
            url: http://gluetun:6789
    - qBittorrent:
        icon: qbittorrent.png
        href: "#"
        description: Torrent Downloader
        server: chill-penguin
        container: qbittorrent
        widget:
            type: qbittorrent
            url: http://gluetun:5000
    - MeTube:
        icon: youtube.png
        href: "#"
        description: YouTube Downloader
        server: chill-penguin
        container: metube

- Media:
    - Plex:
        icon: plex.png
        href: "#"
        description: Media Server
        server: chill-penguin
        container: plex
        widget:
            type: plex
            url: http://plex:32400
            key: "{{ plex_token }}"
            fields: ["streams", "movies", "tv"]

- Tools:
    - BentoPDF:
        icon: bentopdf.png
        href: "#"
        description: PDF Toolkit
        server: chill-penguin
        container: bentopdf

- System:
    - Gluetun:
        icon: gluetun.png
        href: "#"
        description: VPN Client
        server: chill-penguin
        container: gluetun
        widget:
            type: gluetun
            url: http://gluetun:8000
    - Cloudflared:
        icon: cloudflare.png
        href: "#"
        description: Cloudflare Tunnel
        server: chill-penguin
        container: cloudflared
    - Muximux:
        icon: muximux.png
        href: "#"
        description: Lightweight Portal
        server: chill-penguin
        container: muximux
    - Homepage:
        icon: homepage.png
        href: "#"
        description: Dashboard
        server: chill-penguin
        container: homepage