# settings

title: Ghostship Dashboard
quicklaunch:
  hideInternetSearch: true
layout:
  Media:
    style: column
  Downloads:
    style: column
  System:
    style: column
  Spacer:
    style: column
# Other settings can be added here
