- resources:
    cpu: true
    memory: true
    disk: /

- openmeteo:
    label: Ewa Beach
    latitude: 21.3156
    longitude: -158.0072
    timezone: Pacific/Honolulu
    units: imperial

- datetime:
    text_size: xl
    format:
        timeStyle: short
        dateStyle: long
