- resources:
    cpu: true
    memory: true
    disk: /
    network: true

- openmeteo:
    label: Ewa Beach
    latitude: 21.3156
    longitude: -158.0072
    timezone: Pacific/Honolulu
    units: imperial

- datetime:
    text_size: sm
    format: "h:mm A M/D/YY"
