-- Remove remote root and other root variants (like the container ID host)
DELETE FROM mysql.user WHERE User='root' AND Host NOT IN ('localhost', '127.0.0.1', '::1');

-- RomM
CREATE DATABASE IF NOT EXISTS romm;
CREATE USER IF NOT EXISTS 'romm'@'%' IDENTIFIED BY '{{ romm_db_password }}';
GRANT ALL PRIVILEGES ON romm.* TO 'romm'@'%';

-- Booklore
CREATE DATABASE IF NOT EXISTS booklore;
CREATE USER IF NOT EXISTS 'booklore'@'%' IDENTIFIED BY '{{ booklore_db_password }}';
GRANT ALL PRIVILEGES ON booklore.* TO 'booklore'@'%';

FLUSH PRIVILEGES;
