plexautolanguages:
  update_level: "show"
  update_strategy: "all"
  trigger_on_play: true
  trigger_on_scan: true
  trigger_on_activity: false
  refresh_library_on_scan: true
  ignore_labels:
    - PAL_IGNORE
  plex:
    url: "http://plex:32400"
    token: "{{ plex_token }}"
  scheduler:
    enable: true
    schedule_time: "04:30"
  notifications:
    enable: false
    apprise_configs: []
  debug: false
