services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: on-failure
    user: "{{ apps_uid }}:{{ apps_gid }}"
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARED_TUNNEL_TOKEN}
    networks:
      - ghostship_net

  muximux:
    image: lscr.io/linuxserver/muximux:latest
    container_name: muximux
    restart: on-failure
    environment:
      - PUID={{ apps_uid }}
      - PGID={{ apps_gid }}
      - TZ=UTC
    volumes:
      - ${CONFIG_DIR}/muximux:/config
    networks:
      - ghostship_net

  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=surfshark
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_ADDRESSES=10.14.0.2/16
      - SERVER_COUNTRIES=${VPN_COUNTRY}
      - TZ=UTC
      - UPDATER_PERIOD=24h
    volumes:
      - ${CONFIG_DIR}/gluetun:/gluetun
    restart: on-failure
    networks:
      - ghostship_net

  nzbget:
    image: lscr.io/linuxserver/nzbget:latest
    container_name: nzbget
    restart: on-failure
    environment:
      - PUID={{ apps_uid }}
      - PGID={{ apps_gid }}
      - TZ=UTC
    volumes:
      - ${CONFIG_DIR}/nzbget:/config
      - type: volume
        source: share
        target: /downloads
        volume:
          subpath: Downloads/Usenet
    network_mode: service:gluetun

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: on-failure
    environment:
      - PUID={{ apps_uid }}
      - PGID={{ apps_gid }}
      - TZ=UTC
      - WEBUI_PORT=5000
      - DOCKER_MODS=ghcr.io/vuetorrent/vuetorrent-lsio-mod:latest
    volumes:
      - ${CONFIG_DIR}/qbittorrent:/config
      - type: volume
        source: share
        target: /downloads
        volume:
          subpath: Downloads/Torrent
    network_mode: service:gluetun

  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    restart: on-failure
    networks:
      - ghostship_net
    ports:
      - 32400:32400
      - 1900:1900/udp
      - 3005:3005
      - 5353:5353/udp
      - 8324:8324
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
      - 32469:32469
    environment:
      - PUID={{ apps_uid }}
      - PGID={{ apps_gid }}
      - TZ=UTC
      - VERSION=latest
      - PLEX_CLAIM=${PLEX_CLAIM}
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - ${CONFIG_DIR}/plex:/config
      - type: volume
        source: share
        target: /library
        volume:
          subpath: Library

  metube:
    image: ghcr.io/alexta69/metube:latest
    container_name: metube
    restart: on-failure
    ports:
      - 8081:8081
    environment:
      - UID={{ apps_uid }}
      - GID={{ apps_gid }}
    volumes:
      - type: volume
        source: share
        target: /downloads
        volume:
          subpath: Downloads/MeTube
    networks:
      - ghostship_net

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: on-failure
    environment:
      - PUID={{ apps_uid }}
      - PGID={{ docker_gid }}
      - TZ=UTC
      - HOMEPAGE_ALLOWED_HOSTS=*
    volumes:
      - ${CONFIG_DIR}/homepage:/app/config
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - ghostship_net

networks:
  ghostship_net:
    driver: bridge

volumes:
  share:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=192.168.200.106,rw,nfsvers=4,hard,intr,rsize=8192,wsize=8192"
      device: ":/volume1/share"
  plex:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=192.168.200.106,rw,nfsvers=4,hard,intr,rsize=8192,wsize=8192"
      device: ":/volume1/plex"