version: '3.8'

services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: on-failure
    user: "{{ apps_uid }}:{{ apps_gid }}"
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARED_TUNNEL_TOKEN}
    networks:
      - ghostship_net

  muximux:
    image: lscr.io/linuxserver/muximux:latest
    container_name: muximux
    restart: on-failure
    environment:
      - PUID={{ apps_uid }}
      - PGID={{ apps_gid }}
      - TZ=UTC
    volumes:
      - ${CONFIG_DIR}/muximux:/config
    networks:
      - ghostship_net

  nzbget:
    image: lscr.io/linuxserver/nzbget:latest
    container_name: nzbget
    restart: on-failure
    environment:
      - PUID={{ apps_uid }}
      - PGID={{ apps_gid }}
      - TZ=UTC
    volumes:
      - ${CONFIG_DIR}/nzbget:/config
      - ${INSTALL_DIR}/downloads:/downloads
    networks:
      - ghostship_net

networks:
  ghostship_net:
    driver: bridge
