# RomM Configuration Template
# Environment variables set in docker-compose.yml take precedence over values defined here.

# Library paths
library_path: /romm/library
assets_path: /romm/assets
resources_path: /romm/resources

# Permissions
# generated_assets_permissions: 0777

# Scheduled Tasks (Cron syntax)
# rescan_schedule: "0 0 * * *"
