---
- name: Setup Docker on Ghostship (chill_penguin Asahi Linux)
  hosts: ghostship
  become: true
  vars_files:
    - vars/main.yml

  tasks:
    - name: Ensure system is updated (including Asahi Linux specific packages)
      dnf:
        name: "*"
        state: latest
        update_cache: yes

    - name: Check if Cockpit service exists
      ansible.builtin.stat:
        path: /usr/lib/systemd/system/cockpit.socket
      register: cockpit_service_file

    - name: Stop and disable Cockpit service
      systemd:
        name: cockpit.socket
        state: stopped
        enabled: no
      when: cockpit_service_file.stat.exists

    - name: Remove Cockpit package
      dnf:
        name: cockpit
        state: absent

    - name: Stop and disable Avahi daemon
      systemd:
        name: avahi-daemon
        state: stopped
        enabled: no

    - name: Download Docker CE repo file
      get_url:
        url: https://download.docker.com/linux/fedora/docker-ce.repo
        dest: /etc/yum.repos.d/docker-ce.repo
        mode: '0644'

    - name: Install required packages
      dnf:
        name:
          - dnf-plugins-core # Required for managing DNF repositories
          - docker-ce # Docker Engine - Community
          - docker-ce-cli # CLI for interacting with Docker
          - containerd.io # Container runtime
          - docker-buildx-plugin # Modern build capabilities (multi-arch support)
          - docker-compose-plugin # Docker Compose V2
          - python3-lxml # Required for Ansible xml module to configure service XML files
        state: latest

    - name: Ensure Docker service is started and enabled
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: Create 'apps' service account
      user:
        name: "{{ apps_user }}"
        shell: /sbin/nologin
        create_home: yes
        system: yes
        password_lock: yes
        groups: docker
        append: no

    - name: Add ansible user to docker group
      user:
        name: "{{ ansible_user }}"
        groups: docker
        append: yes

    - name: Get 'apps' user info
      getent:
        database: passwd
        key: "{{ apps_user }}"
      register: apps_user_info

    - name: Get 'docker' group info
      getent:
        database: group
        key: docker
      register: docker_group_info

    - name: Set apps_uid, apps_gid and docker_gid facts
      set_fact:
        apps_uid: "{{ apps_user_info.ansible_facts.getent_passwd[apps_user][1] }}"
        apps_gid: "{{ apps_user_info.ansible_facts.getent_passwd[apps_user][2] }}"
        docker_gid: "{{ docker_group_info.ansible_facts.getent_group['docker'][1] }}"

    - name: Create app directories
      file:
        path: "{{ item }}"
        state: directory
        owner: "{{ apps_user }}"
        group: "{{ apps_user }}"
        mode: '0755'
      loop:
        - "{{ install_dir }}"
        - "{{ config_dir }}"
        - "{{ config_dir }}/homepage"
        - "{{ config_dir }}/plex"
        - "{{ config_dir }}/tautulli"
        - "{{ config_dir }}/posterizarr"
        - "{{ config_dir }}/posterizarr/assets"
        - "{{ config_dir }}/posterizarr/assetsbackup"
        - "{{ config_dir }}/posterizarr/manualassets"
        - "{{ config_dir }}/nzbget"
        - "{{ config_dir }}/qbittorrent"
        - "{{ config_dir }}/prowlarr"
        - "{{ config_dir }}/sonarr"
        - "{{ config_dir }}/radarr"
        - "{{ config_dir }}/bazarr"
        - "{{ config_dir }}/muximux"
        - "{{ config_dir }}/gluetun"

    - name: Deploy .env file
      template:
        src: .env.j2
        dest: "{{ install_dir }}/.env"
        owner: "{{ apps_user }}"
        group: "{{ apps_user }}"
        mode: '0600'
      notify: Restart Docker Compose
      register: env_deploy

    - name: Deploy docker-compose.yml
      template:
        src: docker-compose.yml.j2
        dest: "{{ install_dir }}/docker-compose.yml"
        owner: "{{ apps_user }}"
        group: "{{ apps_user }}"
        mode: '0644'
      notify: Restart Docker Compose
      register: compose_deploy

    - name: Ensure Docker Compose stack is running
      shell: docker compose up -d
      args:
        chdir: "{{ install_dir }}"
      register: docker_compose_output
      changed_when: "docker_compose_output.stderr is search('Recreating|Created|Started')"

    - name: Deploy homepage config files
      template:
        src: "homepage/{{ item }}.j2"
        dest: "{{ config_dir }}/homepage/{{ item }}"
        owner: "{{ apps_user }}"
        group: "{{ apps_user }}"
        mode: '0644'
      loop:
        - bookmarks.yaml
        - services.yaml
        - widgets.yaml
        - docker.yaml
        - settings.yaml
      notify: Restart Homepage

    - name: Check if Plex Preferences.xml exists
      stat:
        path: "{{ config_dir }}/plex/Library/Application Support/Plex Media Server/Preferences.xml"
      register: plex_prefs

    - name: Configure Plex Preferences
      community.general.xml:
        path: "{{ config_dir }}/plex/Library/Application Support/Plex Media Server/Preferences.xml"
        xpath: /Preferences
        attribute: "{{ item.key }}"
        value: "{{ item.value }}"
      loop:
        - { key: 'FriendlyName', value: 'chill-penguin' }
        - { key: 'LanNetworksBandwidth', value: '192.168.1.0/255.255.255.0,172.16.0.0/255.240.0.0' }
        - { key: 'customConnections', value: 'http://192.168.200.127:32400' }
        - { key: 'allowedNetworks', value: '192.168.1.0/255.255.255.0,172.16.0.0/255.240.0.0' }
      when: plex_prefs.stat.exists
      notify: Restart Plex

    - name: Check if *Arr config.xml exists
      stat:
        path: "{{ config_dir }}/{{ item }}/config.xml"
      register: arr_configs
      loop:
        - prowlarr
        - sonarr
        - radarr

    - name: Configure AuthenticationMethod to External for *Arr services
      community.general.xml:
        path: "{{ config_dir }}/{{ item.item }}/config.xml"
        xpath: /Config/AuthenticationMethod
        value: 'External'
      loop: "{{ arr_configs.results }}"
      when: item.stat.exists
      notify: Restart Arr Services

  handlers:
    - name: Restart Docker Compose
      shell: docker compose down && docker compose up -d
      args:
        chdir: "{{ install_dir }}"

    - name: Restart Homepage
      shell: docker compose restart homepage
      args:
        chdir: "{{ install_dir }}"
      when: not (env_deploy.changed or compose_deploy.changed)

    - name: Restart Plex
      shell: docker compose restart plex
      args:
        chdir: "{{ install_dir }}"
      when: not (env_deploy.changed or compose_deploy.changed)

    - name: Restart Arr Services
      shell: docker compose restart prowlarr sonarr radarr bazarr
      args:
        chdir: "{{ install_dir }}"
      when: not (env_deploy.changed or compose_deploy.changed)
      